doctype html
head
  link(rel='stylesheet' href='css/main.css')
body
  main#main
    h1#title The Postmasters
    h2 (of the Post Office of the Dead)

    p Being a glorified babysitter for those that have unfinished business is rough, buddy.

    #img-div
        img#image(srcset="img/header.webp, img/header.png" src="img/header.png" alt="An illustration of two figures.")

    figcaption#img-caption Look, an image

    p
      a#tribute-link(href="https://duckduckgo.com/?q=a") link to more

  footer
    script(type='text/javascript' src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
