doctype html
head
  link(rel='stylesheet' href='css/main.css')
body
  main
    h1 Heading!
    p content content etc. etc. wow so cool
  footer
    script(type='text/javascript' src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
