doctype html
head
  link(rel='stylesheet' href='css/main.css')
body
  main#main
    h1#title.nogap The Postmasters
    h2 A Short Look For The Uninitiated

    #img-div
      img#image(srcset="img/header.webp, img/header.png" src="img/header.png" alt="An illustration of two figures.")
      figcaption#img-caption Left: Cecillian Whyttaker-Myne; Right: Alessander Tel

    div#tribute-info
      p The Postmasters run the #[em Post Office of the Dead], a facility that processes last wishes and lingering regrets for the peoples of the Undāin faith. They also pass messages from the dead to the living, and vice versa.
      p Moreover, the Postmasters oversee the #[em Guild of Seven Ghosts,] a group of spirits hand-selected for their raw strength of will (a useful trait to have when your minority, pagan religion is constantly ignored or denied). The Guild handle especially tricky items from the Post Office, items that can't be automatically delivered, such as particularly emotional messages, or volatile items requiring a delicate touch.
      p There are two Postmasters. #[em Alessander Tel] is the Postmaster General, and #[em Cecillian Whyttaker-Myne] is the Postmistress. They're total opposites, but great friends.

      h2 Alessander Tel
      p Alessander Tel owns the Post Office. He's almost nine feet tall, likes a good cup of tea, and is quite lazy (wouldn't you be if your job could magically do itself 99% of the time?). He enjoys a lazy, rainy afternoon spent reading and listening to the almost constant rain. When he's not doing that, he's usually scoping out the kitchens, in search of a snack.
      p Rarely will he actually handle administrative matters - that's left up to the Postmistress, who's much better at it.

      h2 Cecillian Whyttaker-Myne
      p Cecillian Whyttaker-Myne was hired by Alessander long ago to handle the #[em 'boring paperwork and number things'], and, in the intervening billions of years, has gotten quite good at it. She's almost never seen not working... until it's time for dinner, that is. She's a short, bespectacled woman with red hair and is the only thing keeping the Post Office from running as smoothly as it is, which is just the way she likes it.
      p Cecillian is a no-nonsense paperwork demon, and woe betide anyone, living or not, who gets in the way.

  footer
    p
      small JSYK, #[a#tribute-link(href="https://en.wikipedia.org/wiki/Creative_writing" target="_blank") this is a work of fiction.] Names, characters, places, and events are the product of my imagination. Any resemblance to actual persons, living or dead, or actual events is purely coincidental.
    script(type="text/javascript" src="js/main.js")
    script(type='text/javascript' src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
