@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lato:ital@0;1&display=swap');

html {
  --body-bg-colour: #1c1c1c;
  --body-text-colour: #f4f6f6;
  --body-accent-colour: #22d07f;
}

html,
body {
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 3rem;
  background-color: var(--body-bg-colour);
  color: var(--body-text-colour);
}

main {
  padding: 1rem 2rem;
}

.grid-parent {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    'title title'
    'art text'
    'footer footer';
}

#title {
  grid-area: title;
  display: flex;
  justify-content: center;
  margin-bottom: 7vh;
}

#title img {
  max-height: 100px;
  align-self: end;
  margin-top: auto;
}

#title-text {
  text-align: center;
  margin: 0 3rem;
}

#img-div {
  grid-area: art;
}

#tribute-info {
  grid-area: text;
}

p {
  font-size: 1.6em;
  margin-bottom: 1.5rem;
  line-height: 3rem;
}

h1 {
  font-size: 4.78em;
}

h2 {
  font-size: 3.98em;
}

h3 {
  font-size: 3.32em;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', cursive;
  margin-bottom: 3rem;
  line-height: 6rem;
  color: var(--body-accent-colour);
}

figcaption {
  margin: 1rem;
  padding-left: 2rem;
  border-left: var(--body-accent-colour) 3px solid;
  font-size: 1.33rem;
  font-style: italic;
}

em {
  font-style: italic;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

footer p {
  margin: 0;
}

footer small {
  font-size: 1.33rem;
  line-height: 1.33rem;
}

footer a {
  color: var(--body-accent-colour);
  font-style: italic;
  font-weight: bold;
}

footer a:visited {
  color: var(--body-accent-colour);
}

.nogap {
  margin-bottom: 0;
}
