@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lato:ital@0;1&display=swap');

html {
  --body-bg-colour: #1c1c1c;
  --body-text-colour: #f4f6f6;
  --body-accent-colour: #22d07f;
}

html,
body {
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 3rem;
  background-color: var(--body-bg-colour);
  color: var(--body-text-colour);
}

/* gh#33: push footer to the bottom of the screen even on very large displays */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 2 0 auto;
}

.grid-parent {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 3rem;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: min-content 1fr min-content min-content;
  grid-template-areas:
    'title title'
    'art text'
    '. text'
    'footer footer';
}

@media screen and (max-width: 1000px) {
  .grid-parent {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas:
      'title'
      'art'
      'text'
      'footer';
  }
}

#title {
  grid-area: title;
  text-align: center;
  margin-top: 2rem;
}

#img-div {
  grid-area: art;
  position: sticky;
  top: 15px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #img-div {
    margin-top: 1rem;
  }
}

#img-div img {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 33vw;
}

/* gh#35: bail out of the alternate sizing earlier due to weird stretching */
@media screen and (max-width: 750px) {
  #img-div img {
    /* gh#29: image will squish on ratios like landscape phone */
    /* use vw because we used vh before */
    max-height: 90vw;
    /* don't squish: size by height here, not width */
    width: auto;
    /* don't squish: cont: don't restrict width but DO pass the FCC test */
    max-width: 9999px;
    /* passing the test, even though it seems weird to have both on auto 🤷 */
    height: auto;
  }
}

@media screen and (min-width: 1500px) {
  #img-div img {
    max-width: 27.5vw;
  }
}

#tribute-info {
  grid-area: text;
  box-sizing: border-box;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

p {
  font-size: 1.6em;
  margin-bottom: 1.5rem;
  line-height: 3rem;
}

h1 {
  font-size: 4.78em;
}

h2 {
  font-size: 3.98em;
}

h3 {
  font-size: 3.32em;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', cursive;
  margin-bottom: 3rem;
  line-height: 6rem;
  color: var(--body-accent-colour);
}

figcaption {
  margin-top: 1rem;
  font-size: 1.33rem;
  font-style: italic;
  text-align: center;
}

em {
  font-style: italic;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

footer p {
  margin: 0;
}

footer small {
  font-size: 1.33rem;
  line-height: 1.33rem;
}

footer a {
  color: var(--body-accent-colour);
  font-style: italic;
  font-weight: bold;
}

footer a:visited {
  color: var(--body-accent-colour);
}

.nogap {
  margin-bottom: 0;
}
